### Dataset

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
# !wget $url

In [4]:
df = pd.read_csv("laptops.csv")

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [14]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.columns

Index(['laptop', 'status', 'brand', 'model', 'cpu', 'ram', 'storage',
       'storage_type', 'gpu', 'screen', 'touch', 'final_price'],
      dtype='object')

In [13]:
df.dtypes

laptop           object
status           object
brand            object
model            object
cpu              object
ram               int64
storage           int64
storage_type     object
gpu              object
screen          float64
touch            object
final_price     float64
dtype: object

### Question 1
There's one column with missing values. What is it?
- 'ram'
- 'storage'
- 'screen'
- 'final_price'

In [7]:
is_null_columns = df.isnull().sum()
is_null_columns[is_null_columns > 0]
# print(f"The column with the missing values is {is_null_columns[is_null_columns > 0]}")

storage_type      42
gpu             1371
screen             4
dtype: int64

### Question 2
What's the median (50% percentile) for variable 'ram'?

In [9]:
print(f"The median for the 'ram' column is {df["ram"].median()}")

The median for the 'ram' column is 16.0