In [2]:
import pandas as pd

## Homework

> Note: sometimes your answer doesn't match one of the options exactly.
> That's fine.
> Select the option that's closest to your solution.

In this dataset our desired target for classification task will be `converted` variable - has the client signed up to the platform or not.

In [ ]:
# !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv

--2025-10-07 20:10:13--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘course_lead_scoring.csv’

course_lead_scoring 100%[===================>]  78.98K  --.-KB/s    in 0.09s

2025-10-07 20:10:13 (862 KB/s) - ‘course_lead_scoring.csv’ saved [80876/80876]


### Data preparation

* Check if the missing values are presented in the features.
* If there are missing values:
    * For caterogiral features, replace them with 'NA'
    * For numerical features, replace with with 0.0

In [19]:
df = pd.read_csv("course_lead_scoring.csv")

In [20]:
df.tail(30)

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
1432,organic_search,other,3,NaN,unemployed,south_america,1,0.29,0
1433,organic_search,other,4,48374.0,self_employed,middle_east,2,0.52,0
1434,organic_search,NaN,2,46572.0,student,asia,3,0.30,1
1435,social_media,technology,3,61639.0,student,europe,1,0.27,0
1436,organic_search,technology,3,63032.0,self_employed,middle_east,3,0.79,1
1437,referral,finance,3,NaN,self_employed,south_america,4,0.29,1
1438,paid_ads,healthcare,3,72120.0,unemployed,north_america,3,0.00,1
1439,referral,retail,4,69519.0,employed,south_america,1,0.94,1
1440,referral,retail,2,67832.0,employed,australia,2,0.26,1
1441,referral,education,1,63977.0,self_employed,north_america,2,0.41,1
1442,paid_ads,healthcare,1,62536.0,NaN,asia,3,0.34,0
1443,events,manufacturing,1,47145.0,employed,middle_east,5,0.18,1
1444,NaN,NaN,2,37512.0,student,middle_east,3,0.04,0
1445,paid_ads,retail,1,76375.0,NaN,middle_east,6,0.74,1
1446,social_media,other,1,69079.0,unemployed,south_america,2,0.78,0
1447,paid_ads,healthcare,1,56705.0,NaN,NaN,1,0.48,0
1448,events,retail,0,78345.0,self_employed,australia,3,0.03,0
1449,events,healthcare,4,61458.0,student,middle_east,7,0.71,1
1450,referral,other,2,68034.0,unemployed,africa,4,0.79,0
1451,paid_ads,education,2,52254.0,employed,south_america,5,0.49,1
1452,organic_search,retail,1,49154.0,student,africa,4,0.37,1
1453,paid_ads,education,2,65742.0,employed,australia,0,0.57,0
1454,referral,finance,0,75546.0,NaN,asia,0,0.10,0
1455,referral,finance,2,NaN,NaN,south_america,3,0.47,1
1456,social_media,healthcare,1,45253.0,NaN,australia,6,0.24,1
1457,referral,manufacturing,1,NaN,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NaN,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [24]:
# Missing values
df.isna().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [25]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [26]:
# For numerical features, replace NA with 0.0
df["annual_income"] = df["annual_income"].fillna(0)

In [27]:
# For caterogiral features, replace missing values with 'NA'
df["lead_source"] = df["lead_source"].fillna("NA")
df["industry"] = df["industry"].fillna("NA")
df["employment_status"] = df["employment_status"].fillna("NA")
df["location"] = df["location"].fillna("NA")

In [28]:
# Missing values
df.isna().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

### Question 1

What is the most frequent observation (mode) for the column `industry`?

- `NA`
- `technology`
- `healthcare`
- `retail`

In [30]:
print(f"The most frequent observation (mode) for the column `industry` is {df["industry"].mode()}")

The most frequent observation (mode) for the column `industry` is 0    retail
Name: industry, dtype: object